.sectionTitle {
    font-family: Inter;
    font-weight: 900;
    font-size: 4rem;
    background: #c770cf;
    background: linear-gradient(to bottom, #8da2ff 0%, #ffffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
